@import "../../../assets/theme/theme.scss";

body {
  font-family: "DM Mono", monospace;
  color: $dk-first-text !important;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100% !important;
  padding-top: 10px;
  margin-top: 60px;
}

.container {
  height: auto !important;
  max-width: 70vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 10em;
}

.intro-purple {
  color: $dk-first-main;
  font-size: 20px;
}

.title {
  font-size: 65px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;

  &-sub {
    font-size: 65px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    color: $dk-second-main-lighter;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 18px;
  margin: 20px 0px 0px;
  max-width: 540px;
}

.numbers {
  color: $dk-first-main;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 15em;
  width: 60vw;
  max-width: 70vw;

  &-title {
    font-size: 28px;
    text-align: left;
    margin-bottom: 2em;
  }

  &-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  &-left {
    max-width: 50%;
  }

  &-right {
  max-width: 50%;
  }

  &-bio {
    text-align: left;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  &-list {
        display: grid;
        grid-template-columns: repeat(2, auto);
        list-style-type: circle;
    
      li {
        margin-left: 1em;
      }
  }
}

.framed {
  height: 325px;
  margin-left: 5em;
  width: 325px;
  object-fit: cover;
  box-shadow:
    -50px -50px 0 -40px $dk-first-main,
    50px 50px 0 -40px $dk-first-main;
}

.framed:hover {
  filter: grayscale(80%);
}

.experience {
  display: flex;
  flex-direction: column;
  margin-top: 15em;
  width: 60vw;
  max-width: 70vw;

  &-title {
    font-size: 28px;
    text-align: left;
    margin-bottom: 2em;
  }
}

.work {
  display: flex;
  flex-direction: column;
  margin-top: 15em;
  width: 60vw;
  max-width: 70vw;

  &-title {
    font-size: 28px;
    text-align: left;
    margin-bottom: 2em;
  }
}