<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2019 - 2020</p>
                        <div class="h5">Bootcamp</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Front End Developer</div>
                        <h4 class="category">Laboratoria</h4>
                        <ul>
                            <li>Intensive <b>6 months</b> bootcamp. </li>
                            <li>Simulated work environment.</li>
                            <li>Using Agile methodologies.</li>
                            <li>Learned Javascript, HTML5, CSS3, Bootstrap, React and NodeJS.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2012 - 2016</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Food Science and Biotechnology Engineering</div>
                        <h4 class="category">Universidad de Guadalajara </h4>
                        <ul>
                            <li>Developing new products and technologies for the food industry.</li>
                            <li>Industrial Process Design.</li>
                            <li>Quality and Normativity</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>