<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

        <div class="row">


            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="https://i.ibb.co/7rbYnQ8/p1.png" alt="Card-image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">DIYers: Social Network</h4>
                            <h5 class="card-text"><b>Technologies :</b> JS, Firebase, CSS3 </h5>
                            <a href="https://laboratoriadiyers.firebaseapp.com/#/signIn" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                            <a href="https://github.com/giovsteph/DIYers" class="btn btn-primary stretched-link">Github</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p2.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Bleiben Note: The app that remembers for you.</h4>
                            <h5 class="card-text"><b>Technologies :</b> React, Firebase, Bootstrap </h5>
                            <a href="https://bleiben-note.web.app/" class="btn btn-primary  stretched-link ml-2 mr-5 ">See Project</a>
                            <a href="https://github.com/giovsteph/Bleiben-Note" class="btn btn-primary stretched-link">Github</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p3.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">League of Legends Character Web</h4>
                            <h5 class="card-text"><b>Technologies :</b> JS, HTML5, CSS3 </h5>
                            <a href="https://giovsteph.github.io/League-Of-Legends-Roles/src/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                            <a href="https://github.com/giovsteph/League-Of-Legends-Roles" class="btn btn-primary stretched-link">Github</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p4.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">ATIETAM: Request Handler</h4>
                            <h5 class="card-text"><b>Technologies :</b> JS, Firebase, Bootstrap </h5>
                            <a href="https://gruasatietam.firebaseapp.com/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                            <a href="https://github.com/giovsteph/Atietam" class="btn btn-primary stretched-link">Github</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p5.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Ghibli App</h4>
                            <h5 class="card-text"><b>Technologies :</b> HTML5, CSS3, JS, API Consumption </h5>
                            <a href="https://giovsteph.github.io/Ghibli-App/src/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                            <a href="https://github.com/giovsteph/Ghibli-App" class="btn btn-primary stretched-link">Github</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p6.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Jojo's Bizarre Quiz</h4>
                            <h5 class="card-text"><b>Technologies :</b> JS, HTML5, CSS3 </h5>
                            <a href="https://giovsteph.github.io/Bizarre-Quiz/" class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                            <a href="https://github.com/giovsteph/Bizarre-Quiz" class="btn btn-primary stretched-link">Github</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>