//Dark Theme Colors

$dk-first-main: #924DF9;
$dk-first-main-lighter: rgba(146, 77, 249, 0.2);
$dk-second-main: #363636;
$dk-second-main-lighter: rgba(54, 54, 54, 0.2);
$dk-third-main: #7A257E;
$dk-third-main-lighter: rgba(122, 37, 126, 0.2);
$dk-first-dark: #100F10;
$dk-second-dark: #1B1B1B;
$dk-third-dark: #242424;
$dk-first-text: rgba(#fff,0.96);
$dk-second-text: rgba(#fff,0.67);
$dk-third-text: rgba(#fff, 0.45);

